body {
  font-family:Arial,Helvetica,sans-serif;
  background-color:#EFCB69;
}

header {
	width:80%;
	background-color:#2C2C1E;
	color:white;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
 
 h1 {
	font-size:2em;
 }
 
 h2{
	 font-size:1.6em;
 }
 
 h3 {
	 font-size:1.3em;
 }
 
#introduction {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	border-color:yellow;
	border-style:solid;
	border-width:5px;
	padding:5px;
}

p {
	margin:10px;
}

#picture {
	list-style-type:none;
	text-align:center;
}
.explaination {
	color:gray;
	
}

#resume1 {
	width:50%;
	margin:0 auto auto auto;
	background-color:white;
	border-color:yellow;
	border-style:solid;
	border-width:5px;
	text-align:center;
}

#resume2 {
	width:50%;
	margin:0 auto auto auto;
	text-align:left;
	background-color:white;
	border-color:yellow;
	border-style:solid;
	border-width:5px;
}
